.header{
    background-color: #ddaa8d;
    color: #ffffff;
    padding: 10px;
    display: flex;
}
 body{
    margin: 0px;
    padding: 0px;
    background-color: #f5dec4;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
 }

 @font-face {
    font-family: 'header-font';
    src: url('./fonts/Blueberry.ttf') format('truetype');
}

@font-face {
    font-family: 'button-header-font';
    src: url('./fonts/PlaypenSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'p-grid-font';
    src: url('./fonts/PlaypenSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'h2-font';
    src: url('./fonts/PlaypenSans-Bold.ttf') format('truetype');
}

h1{
    font-family: "header-font";
    font-size: 30px;
    margin: 0px;
    margin-left: 5px;
}

h2{
    font-family: "h2-font";
    text-align: center;
    color:#963b3b;
    font-size: 35px;;
    
}

img {
    margin-left: 10px;
    max-height: 50px;
}

.button-sign {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sign-custom{
    background-color: #ad5454;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "button-header-font";
    font-size: 12x;
}

.button-title-custom {
    background-color: transparent;
    background-image: url('./images/button-title.png'); 
    background-size: cover; 
    background-position: center; 
    height: 160px;
    width: 200px;
    border: none;
    position: relative;
}

.button-content {
    color: #ad2020;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center text horizontally */
    font-family: "h2-font";
    font-size: 18px;
}

.container-title {
    text-align: center;
    margin-top: 70px;
    height: 38vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 20px;
    max-width: 1200px;
    align-items: center;
}
    
.div1, .div2, .div3 { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex-direction: row;
}

.div1 p, .div2 p, .div3 p {
    margin-top: 5px; /* Adjust this value to bring the text closer to the image */
    font-family: "p-grid-font", semibold;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 20px;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.div1 img, .div2 img, .div3 img {
    margin: auto;
    object-fit: contain;
    max-width: 40%;
    max-height: 100%;
}

@media only screen and (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr;
    }
}
